In [6]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns  
import re 
import nltk 

from transformers import pipeline
from rouge_score import rouge_scorer

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [7]:
!pip install transformers

Requirement already satisfied: transformers in c:\users\kiit0001\anaconda3\lib\site-packages (4.57.1)
Requirement already satisfied: filelock in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (3.17.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.34.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (0.35.3)
Requirement already satisfied: numpy>=1.17 in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<=0.23.0,>=0.22.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (0.22.1)
Requirement already satisfied: safetensors>=0.4.3 in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (0.6.2)
Requirement already satisfied: tqdm>=4.27 in c:\users\kiit0001\anaconda3\lib\site-packages (from transformers) (4.67.1)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.34.0->transformers) (2025.3.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\kiit0001\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.34.0->transformers) (4.12.2)
Requirement already satisfied: colorama in c:\users\kiit0001\anaconda3\lib\site-packages (from tqdm>=4.27->transformers) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests->transformers) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests->transformers) (2025.10.5)

In [8]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns  
import re 
import nltk 

from transformers import pipeline
from rouge_score import rouge_scorer

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [9]:
!pip install rouge_score

Requirement already satisfied: rouge_score in c:\users\kiit0001\anaconda3\lib\site-packages (0.1.2)
Requirement already satisfied: absl-py in c:\users\kiit0001\anaconda3\lib\site-packages (from rouge_score) (2.3.1)
Requirement already satisfied: nltk in c:\users\kiit0001\anaconda3\lib\site-packages (from rouge_score) (3.9.1)
Requirement already satisfied: numpy in c:\users\kiit0001\anaconda3\lib\site-packages (from rouge_score) (2.1.3)
Requirement already satisfied: six>=1.14.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from rouge_score) (1.17.0)
Requirement already satisfied: click in c:\users\kiit0001\anaconda3\lib\site-packages (from nltk->rouge_score) (8.1.8)
Requirement already satisfied: joblib in c:\users\kiit0001\anaconda3\lib\site-packages (from nltk->rouge_score) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\kiit0001\anaconda3\lib\site-packages (from nltk->rouge_score) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\kiit0001\anaconda3\lib\site-packages (from nltk->rouge_score) (4.67.1)
Requirement already satisfied: colorama in c:\users\kiit0001\anaconda3\lib\site-packages (from click->nltk->rouge_score) (0.4.6)

In [10]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns  
import re 
import nltk 

from transformers import pipeline
from rouge_score import rouge_scorer

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT0001\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
df = pd.read_csv('news_summary.csv') 

df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe2 in position 29445: invalid continuation byte

In [12]:
df = pd.read_csv('news_summary.csv', encoding='latin1')

df.head()

,author,date,headlines,read_more,text,ctext
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,Arshiya Chopra,"03 Aug 2017,Thursday",'Virgin' now corrected to 'Unmarried' in IGIMS...,http://www.hindustantimes.com/patna/bihar-igim...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Sumedha Sehra,"03 Aug 2017,Thursday",Aaj aapne pakad liya: LeT man Dujana before be...,http://indiatoday.intoday.in/story/abu-dujana-...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Aarushi Maheshwari,"03 Aug 2017,Thursday",Hotel staff to get training to spot signs of s...,http://indiatoday.intoday.in/story/sex-traffic...,Hotels in Maharashtra will train their staff t...,Hotels in Mumbai and other Indian cities are t...

In [13]:
df.info

<bound method DataFrame.info of                   author                   date  \
0           Chhavi Tyagi   03 Aug 2017,Thursday
1            Daisy Mowke   03 Aug 2017,Thursday
2         Arshiya Chopra   03 Aug 2017,Thursday
3          Sumedha Sehra   03 Aug 2017,Thursday
4     Aarushi Maheshwari   03 Aug 2017,Thursday
...                  ...                    ...
4509      Mansha Mahajan     24 Feb 2017,Friday
4510      Dishant Sharma   03 Aug 2017,Thursday
4511       Tanya Dhingra   03 Aug 2017,Thursday
4512      Pragya Swastik  07 Dec 2016,Wednesday
4513        Chhavi Tyagi   03 Aug 2017,Thursday

                                              headlines  \
0     Daman & Diu revokes mandatory Rakshabandhan in...
1     Malaika slams user who trolled her for 'divorc...
2     'Virgin' now corrected to 'Unmarried' in IGIMS...
3     Aaj aapne pakad liya: LeT man Dujana before be...
4     Hotel staff to get training to spot signs of s...
...                                                 ...
4509  Rasna seeking ?250 cr revenue from snack categ...
4510  Sachin attends Rajya Sabha after questions on ...
4511  Shouldn't rob their childhood: Aamir on kids r...
4512  Asha Bhosle gets ?53,000 power bill for unused...
4513  More than half of India's languages may die in...

                                              read_more  \
0     http://www.hindustantimes.com/india-news/raksh...
1     http://www.hindustantimes.com/bollywood/malaik...
2     http://www.hindustantimes.com/patna/bihar-igim...
3     http://indiatoday.intoday.in/story/abu-dujana-...
4     http://indiatoday.intoday.in/story/sex-traffic...
...                                                 ...
4509  http://indiatoday.intoday.in/story/rasna-eyes-...
4510  http://indiatoday.intoday.in/story/sachin-tend...
4511  http://www.hindustantimes.com/bollywood/secret...
4512  http://indiatoday.intoday.in/story/singer-asha...
4513  http://indiatoday.intoday.in/story/indian-lang...

                                                   text  \
0     The Administration of Union Territory Daman an...
1     Malaika Arora slammed an Instagram user who tr...
2     The Indira Gandhi Institute of Medical Science...
3     Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4     Hotels in Maharashtra will train their staff t...
...                                                 ...
4509  Fruit juice concentrate maker Rasna is eyeing ...
4510  Former Indian cricketer Sachin Tendulkar atten...
4511  Aamir Khan, while talking about reality shows ...
4512  The Maharashtra government has initiated an in...
4513  At least 400 languages or more than half langu...

                                                  ctext
0     The Daman and Diu administration on Wednesday ...
1     From her special numbers to TV?appearances, Bo...
2     The Indira Gandhi Institute of Medical Science...
3     Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4     Hotels in Mumbai and other Indian cities are t...
...                                                 ...
4509  Mumbai, Feb 23 (PTI) Fruit juice concentrate m...
4510  Former cricketer Sachin Tendulkar was spotted ...
4511  Aamir Khan, whose last film Dangal told the st...
4512  Maharahstra Power Minister Chandrashekhar Bawa...
4513  More than half of the languages spoken by Indi...

[4514 rows x 6 columns]>

In [14]:
print("Dataset shape:", df.shape)

print(df.isnull().sum())

df = df.dropna()

df.info()

Dataset shape: (4514, 6)
author         0
date           0
headlines      0
read_more      0
text           0
ctext        118
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 4396 entries, 0 to 4513
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author     4396 non-null   object
 1   date       4396 non-null   object
 2   headlines  4396 non-null   object
 3   read_more  4396 non-null   object
 4   text       4396 non-null   object
 5   ctext      4396 non-null   object
dtypes: object(6)
memory usage: 240.4+ KB

In [15]:
def clean_text(text):
    # Lowercase the text
    text = text.lower()
    # Remove punctuation and special characters
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    return text

# Apply cleaning to both text and summary
df['clean_text'] = df['text'].apply(clean_text)
df['clean_ctext'] = df['ctext'].apply(clean_text)

# Check cleaned text
df[['clean_text','clean_ctext']].head()

C:\Users\KIIT0001\AppData\Local\Temp\ipykernel_10344\1714023258.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['text'].apply(clean_text)
C:\Users\KIIT0001\AppData\Local\Temp\ipykernel_10344\1714023258.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_ctext'] = df['ctext'].apply(clean_text)

,clean_text,clean_ctext
0,the administration of union territory daman an...,the daman and diu administration on wednesday ...
1,malaika arora slammed an instagram user who tr...,from her special numbers to tvappearances boll...
2,the indira gandhi institute of medical science...,the indira gandhi institute of medical science...
3,lashkaretaibas kashmir commander abu dujana wh...,lashkaretaibas kashmir commander abu dujana wa...
4,hotels in maharashtra will train their staff t...,hotels in mumbai and other indian cities are t...

In [17]:
from transformers import pipeline

# Load summarization model
summarizer = pipeline("summarization", model="facebook/bart-large-cnn")

# Example: summarize the first cleaned article
text = df['clean_text'][0]

summary = summarizer(text, max_length=120, min_length=30, do_sample=False)
print("Abstractive Summary:\n", summary[0]['summary_text'])

Device set to use cpu
Your max_length is set to 120, but your input_length is only 72. Since this is a summarization task, where outputs shorter than the input are typically wanted, you might consider decreasing max_length manually, e.g. summarizer('...', max_length=36)

Abstractive Summary:
 The administration of union territory daman and diu has revoked its order that made it compulsory for women to tie rakhis to their male colleagues. The administration was forced to withdraw the decision within 24 hours of issuing the circular.

In [18]:
!pip install torch torchvision torchaudio

Requirement already satisfied: torch in c:\users\kiit0001\anaconda3\lib\site-packages (2.9.0)
Requirement already satisfied: torchvision in c:\users\kiit0001\anaconda3\lib\site-packages (0.24.0)
Requirement already satisfied: torchaudio in c:\users\kiit0001\anaconda3\lib\site-packages (2.9.0)
Requirement already satisfied: filelock in c:\users\kiit0001\anaconda3\lib\site-packages (from torch) (3.17.0)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from torch) (4.12.2)
Requirement already satisfied: sympy>=1.13.3 in c:\users\kiit0001\anaconda3\lib\site-packages (from torch) (1.13.3)
Requirement already satisfied: networkx>=2.5.1 in c:\users\kiit0001\anaconda3\lib\site-packages (from torch) (3.4.2)
Requirement already satisfied: jinja2 in c:\users\kiit0001\anaconda3\lib\site-packages (from torch) (3.1.6)
Requirement already satisfied: fsspec>=0.8.5 in c:\users\kiit0001\anaconda3\lib\site-packages (from torch) (2025.3.2)
Requirement already satisfied: setuptools in c:\users\kiit0001\anaconda3\lib\site-packages (from torch) (72.1.0)
Requirement already satisfied: numpy in c:\users\kiit0001\anaconda3\lib\site-packages (from torchvision) (2.1.3)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from torchvision) (11.1.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from sympy>=1.13.3->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from jinja2->torch) (3.0.2)

In [19]:
from transformers import pipeline

summarizer = pipeline("summarization", model="facebook/bart-large-cnn")

text = df['clean_text'][0]
summary = summarizer(text, max_length=120, min_length=30, do_sample=False)
print(summary[0]['summary_text'])

Device set to use cpu
Your max_length is set to 120, but your input_length is only 72. Since this is a summarization task, where outputs shorter than the input are typically wanted, you might consider decreasing max_length manually, e.g. summarizer('...', max_length=36)

The administration of union territory daman and diu has revoked its order that made it compulsory for women to tie rakhis to their male colleagues. The administration was forced to withdraw the decision within 24 hours of issuing the circular.

In [20]:
from transformers import pipeline

summarizer = pipeline("summarization", model="facebook/bart-large-cnn")

text = df['clean_text'][0]
summary = summarizer(text, max_length=120, min_length=30, do_sample=False)
print(summary[0]['summary_text'])

Device set to use cpu
Your max_length is set to 120, but your input_length is only 72. Since this is a summarization task, where outputs shorter than the input are typically wanted, you might consider decreasing max_length manually, e.g. summarizer('...', max_length=36)

The administration of union territory daman and diu has revoked its order that made it compulsory for women to tie rakhis to their male colleagues. The administration was forced to withdraw the decision within 24 hours of issuing the circular.